



#wrapper {
  width: 100%;
  overflow-x: hidden;
  
}
.wrapper {
  padding: 0 20px;

}
.wrapper-content {
  padding: 20px 10px 40px;
}
#page-wrapper {
  padding: 0 15px;
  min-height: 568px;
  position: relative !important;
  background: linear-gradient(to bottom, #d4dae7, rgb(107, 144, 199)) !important;
}
@media (min-width: 768px) {
  #page-wrapper {
  
    position: inherit;
    margin: 0 0 0 240px;
    min-height: 2002px;
  }
    .containers{
       justify-content: center;
       margin-left: -100px;

    }
}


.message-input {
  height: 90px !important;
}
.chat-avatar {
  
  height: 36px;
  float: left;
  margin-right: 10px;
}
.chat-user-name {
  padding: 10px;
}
.chat-user {
  padding: 8px 10px;
  border-bottom: 1px solid #e7eaec;
}
.chat-user a {
  color: inherit;
}
.chat-view {
  z-index: 20012;
}
.chat-users,
.chat-statistic {
  margin-left: -30px;
}
@media (max-width: 992px) {
  .chat-users,
  .chat-statistic {
    margin-left: 0;
  }
}
.chat-view .ibox-content {
  padding: 0;
}
.chat-message {
  padding: 10px 20px;
}
.message-avatar {
  height: 48px;
  width: 48px;
  border: 1px solid #e7eaec;
  border-radius: 4px;
  margin-top: 1px;
}
.chat-discussion .chat-message.left .message-avatar {
  float: left;
  margin-right: 10px;
}
.chat-discussion .chat-message.right .message-avatar {
  float: right;
  margin-left: 10px;
}
.message {
  background-color: #fff;
  border: 1px solid #e7eaec;
  text-align: left;
  display: block;
  padding: 10px 20px;
  position: relative;
  border-radius: 4px;
}
.chat-discussion .chat-message.left .message-date {
  float: right;
}
.chat-discussion .chat-message.right .message-date {
  float: left;
}
.chat-discussion .chat-message.left .message {
  text-align: left;
  margin-left: 55px;
}
.chat-discussion .chat-message.right .message {
  text-align: right;
  margin-right: 55px;
}
.message-date {
  font-size: 10px;
  color: #888888;
}
.message-content {
  display: block;
}
.chat-discussion {
  background: #eee;
  padding: 15px;
  height: 400px;
  overflow-y: auto;
}
.chat-users {
  overflow-y: auto;
  height: 400px;
}
.chat-message-form .form-group {
  margin-bottom: 0;
}
.ibox {
  clear: both;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0;
}
.ibox.collapsed .ibox-content {
  display: none;
}
.ibox.collapsed .fa.fa-chevron-up:before {
  content: "\f078";
}
.ibox.collapsed .fa.fa-chevron-down:before {
  content: "\f077";
}
.ibox:after,
.ibox:before {
  display: table;
}
.ibox-title {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #ffffff;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 3px 0 0;
  color: inherit;
  margin-bottom: 0;
  padding: 14px 15px 7px;
  min-height: 48px;
  border-radius: 10px,10px,0,0;
}
.ibox-content {
  background-color: #ffffff;
  color: inherit;
  padding: 15px 20px 20px 20px;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0;
  border-radius: 9px;
  box-shadow: 0 0 9px rgba(1, 0, 0) !important;
  width: 900px;
  transform: translateX(300px);
}



.ibox-footer {
  color: inherit;
  border-top: 1px solid #e7eaec;
  font-size: 90%;
  background: #ffffff;
  padding: 10px 15px;
}

.message-input {
    height: 90px !important;
}
.form-control, .single-line {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    font-size: 14px;
}

 .message-input{
    width:300px;
    height: 30px !important;
   border-radius:10px
}

.label-primary{
    background:  green !important;
    color: green !important;
}

img{
    border-radius: 30px !important;
}
  
 .message-input{
    width: 500px  !important;
    transform: translateY(30px) !important;
    height: 55px !important;
    border-radius: 20px !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1) !important;
  margin-left: 20px !important;

   
}

.search{
    border-radius:10px;
    height: 35px;
    width: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) !important;
    border: none;

    color:rgba(0, 0, 0, 1) !important;
 
}
.icon1{

   

    transform: translate(520px,-20px);
    font-size: 1.75em;
   

   
   
}
.icon2 {
    transform: translateX(30px);
    color: #000000;
    transform: translateX(-250px) !important;
}

button{
    background: transparent;

    border: none;
}


.name{
    font-size: 15px;
}


.form-control{
    margin-bottom: 20px;
}
.select{
    border: none !important;
    outline: none !important;
    transform: translateX(580px);
}
  




@media (max-width: 768px) {
  #page-wrapper {
  
    position: inherit;
    margin: 0 0 0 240px;

   } 
  }
    .containers{
       justify-content: center;
        margin-left: -100px; 
       
    }










































































