@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  /* height: 100%; */
  /* width: 100%; */
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(assets/icons/GYMPICSS.jpg);
  background-position: center;
  background-size: cover;
  z-index: 999;
  
}

a {
  /* text-decoration: none; */
  /* color: #c41f1f !important; */
}

/* a::before { */
  /* content: "" !important; */
  /* position: absolute; */
  /* top: 0; */
  /* left: 0; */
  /* width: 100%; */
  /* height: 0; */
  /* background-color: rgba(255, 255, 255, 0.2) !important; */
  /* transform-origin: bottom; */
  /* transform: scaleY(0) !important; */
  /* transition:  transform 0.3s ease !important; */
  /* z-index: -1 !important; */
/* } */
/* a:hover { */
  /* color: #333 !important; */
/* } */
/*  */
/* a:hover::before { */
  /* transform: scaleY(1) !important; */
  /* height: 100% !important; */
/* } */


p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  height: 8vh;
  /* border-bottom: 1px solid #e6e6e6; */
  /* margin-bottom: 60px; */
  background-color:  transparent !important ;
  z-index: -1;
  padding-top: 40px;

  
 
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a:hover {
  color: #777;
}

.header ul li a svg {
  margin-right: 5px;
}

.heading {
  font-size: 2rem;
  font-weight: 1000;
  margin-bottom: 50px;
  padding: 0 20px;
  color:#cb1616;
  
}

.heading p {
  color: #ffe9e9;
  text-align: center;
  font-weight: 1000px;
}

.goals {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.goal {
  background-color: #f4f4f4;
  margin: 10px 0;
  padding: 20px 0 10px;
  position: relative;
}

.goal .close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  border: none;
  background: none;
}

.form,
.content {
  width: 70%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #cb1616;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items:  center ;  
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn:hover {
  transform: scale(0.98);
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .form {
    width: 90%;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
}

.form{
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 1);
   margin-top: -20px;
}



.btn::before {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  transform: translateX(-100%);
  transition: transform 0.3s;
}

.btn:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

.btn:hover::before {
  transform: translateX(0);
}






input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  caret-color: transparent;
  background-color: transparent;
  outline: none;
  caret-color: #000;
  
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder {
  color: #000000;
  opacity: 0.7;
}



input {
  background: transparent !important;
  color: whitesmoke !important;
}

.h1, h1 {
  font-size: 50px !important;
  font-weight: 700 !important;
  transform: translateY(-0px);
}
/* .acc{ */
  /* transform: translateY(-40px); */
/* } */
/*  */
